.btn {
	transition:0.2s;
	padding: 6px 16px 7px;
  border-radius:3px;
  &.btn-primary {
    background-color: #6287AE;
    font-size: 13px;
    line-height: 1.385em;
    border:none;
    &:hover {
      background-color: #678EB5;
    }
  }
}
