.btn {
  transition: 0.2s;
  padding: 0px 15px;
  border-radius: 0px;
  border: none;
  outline: none;
  line-height: 34px;
  position: relative;
  top: -1px;
  font-size: 13px;
  &.btn-primary {
    background-color: @colorPrimary;
    &:hover {
      -webkit-filter: contrast(1.5);
    }
  }
  &:focus, &:active {
    border: none!important;
    outline: none!important;
  }
  &.btn-trans {
    background-color: transparent;
    height: 31px;
    &:hover {
      background-color: #E6E8EC;
    }
  }
}
.form-control {
  font-size: 15px;
  background: #2D2E34;
  border: 1px solid #202125;
  border-radius: 0px;
  padding: 0px 15px;
  color: #eee;
  line-height: 34px;
  &::-webkit-input-placeholder {
    color: #555;
  }
  &:focus {
    border-color: @colorPrimary;
    box-shadow: none;
  }
}
.stdHeader {
  height: 70px;
  h1 {
    color: #aaa;
    font-size: 28px;
    margin: 30px 0 0 20px;
  }
}
.modal{
  color:#aaa;
}
.modal-content{
  background-color: #222;
}

.modal-header{
  border-bottom: 1px solid #2D2D2D;
}
.modal-footer{
  border-top: 1px solid #2D2D2D;
}