<div class="modal-header">
  <h3 class="modal-title">Добавление группы OK</h3>
</div>
<div class="modal-body">
  <div ng-if="ctr.accounts.length">
    <p>Выбери аккаунт, чью группу ты хочешь добавить</p>
    <select class="form-control" ng-options="account.screen_name for account in ctr.accounts" ng-model="ctr.selectedAccount"></select>

    <p>Введи ID группы, которую хочешь присоединить</p>
    <input class="form-control" type="text" placeholder="43875834656" ng-model="ctr.gid">
  </div>
  <div ng-if="!ctr.accounts.length">
    Перед тем как добавлять группы, нужно <a class="link" ui-sref="public.accounts" ng-click="$close();">добавить аккаунт</a>
  </div>
  <strong class="text-danger" ng-bind="ctr.error"></strong>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ctr.resolveAndAdd()">добавить</button>
  <button class="btn btn-default" ng-click="$dismiss()">отмена</button>
</div>
