<div class="modal-header">
  <h3 class="modal-title">Добавление аккаунта Facebook</h3>
</div>
<div class="modal-body">
  <div ng-if="ctr.accounts.length">
    <p>Выбери аккаунт, который является владельцем добавляемой группы</p>
    <select class="form-control" ng-options="account.screen_name for account in ctr.accounts" ng-model="ctr.selectedAccount"></select>

    <p>Введи ссылку на группу, которую хочешь добавить</p>
    <select class="form-control" ng-options="page.name for page in ctr.pages" ng-model="ctr.selectedPage"></select>
  </div>
  <div ng-if="!ctr.accounts.length">
    Перед тем как добавлять паблики и группы, нужно <a ui-sref="public.accounts" ng-click="$close();">добавить аккаунт</a>
  </div>
  <strong class="text-danger" ng-bind="ctr.error"></strong>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ctr.resolveAndAdd()">добавить</button>
  <button class="btn btn-default" ng-click="$dismiss()">отмена</button>
</div>
