<div class="clearfix">
  <div class="pull-right">
    <form ng-submit="ctr.addNewSet(ctr.newSetName)">
      <input type="form-control" placeholder="название набора" ng-model="ctr.newSetName">
      <button class="btn btn-primary">Новый набор</button>
    </form>
  </div>
</div>

<div class="setsarea">
  <div class="setslist" ng-show="ctr.sets.length">
    <div class="set" ng-repeat="set in ctr.sets" ng-click="ctr.openSet(set)">
      <div class="title"><span ng-bind="set.name"></span> |
        <ng-pluralize count="ctr.getChannelsCount(set.feed_ids)" when="ctr.channelsPlural">
        </ng-pluralize>
      </div>
      <div class="channelsarea" ng-show="ctr.openedSet.id === set.id">
        <div class="addChannelsLine">
          <span class="title">добавить каналы</span>
          <span class="btn vk socialBg" ng-click="ctr.addChannel('vk', set)"><i class="fa fa-vk"></i></span>
          <span class="btn fb socialBg"><i class="fa fa-facebook"></i></span>
          <span class="btn tw socialBg" ng-click="ctr.addChannel('tw', set)"><i class="fa fa-twitter"></i></span>
          <span class="btn ig socialBg" ng-click="ctr.addChannel('ig', set)"><i class="fa fa-instagram"></i></span>
          <span class="btn gp socialBg"><i class="fa fa-google-plus"></i></span>
          <span class="btn ok socialBg"><i class="fa fa-ok"></i></span>
        </div>

        <div class="channelsList">
          <div class="channel" ng-repeat="channel in ctr.openedSetChannels" ng-class="ctr.getChannelClass(channel)">
            <span ng-bind="channel.screen_name"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nosets" ng-hide="ctr.sets.length">Пока еще нет ни одного набора</div>
</div>
