<div class="title">

  <span ng-bind="set.name" ng-if="guestAccess"></span>

  <input class="name" ng-if="!guestAccess" ng-model="set.name" ng-blur="ctr.setNewName(set.name)" ng-keyup="ctr.onNameKeyup(set.name)" ng-class="{'error':ctr.errorInName}">
  <div class="plural">
    <span class="link" ng-pluralize count="ctr.getChannelsCount(set.feed_ids)" when="ctr.channelsPlural" ng-click="ctr.openSet(set,'channels')" ng-class="{'active': ctr.activeMode === 'channels'}"></span>
  <div class="ib" ng-if="!guestAccess"> / <span class="link" ng-pluralize count="ctr.getUsersCount(set.guest_users_ids)" when="ctr.usersPlural" ng-click="ctr.openSet(set, 'users')" ng-class="{'active': ctr.activeMode === 'users'}"></span>
  </div>
</div>
</div>

<section class="section clearfix">
  <div class="channelsarea bar" ng-if="ctr.activeMode === 'channels'">
    <div class="channelsList">
      <div class="channel" ng-repeat="channel in ctr.openedSetChannels" ng-class="ctr.getChannelClass(channel)">
        <div class="socialBg" data-network="{{channel.network}}">
          <i class="fa" ng-class="ctr.getNetworkIconClass(channel.network)"></i>
        </div>
        <div class="pull-right link toggler" ng-click="ctr.toggleChannel(channel)" ng-if="!guestAccess">
          <span class="remove">открепить</span>
          <span class="add">прикрепить</span>
        </div>
        <a class="name link inverse" target="_blank" ng-bind="channel.screen_name" ng-href="{{ctr.getChannelLink(channel.network, channel.screen_name)}}"></a>
      </div>
      <div class="noResults" ng-show="!ctr.openedSetChannels.length">Нет ни одного канала</div>
    </div>

    <div class="addChannelsLine" ng-if="!guestAccess">
      <div class="smTitle" ng-if="ctr.openedSetChannels.length">Добавить еще один канал</div>
      <div class="smTitle" ng-if="!ctr.openedSetChannels.length">Добавь канал в этот набор</div>
      <div>
        <span class="btn vk socialBg" ng-click="ctr.addChannel('vk', set)"><i class="fa fa-vk"></i></span>
        <span class="btn fb socialBg" ng-click="ctr.addChannel('fb', set)"><i class="fa fa-facebook"></i></span>
        <span class="btn tw socialBg" ng-click="ctr.addChannel('tw', set)"><i class="fa fa-twitter"></i></span>
        <span class="btn ig socialBg ng-hide" ng-click="ctr.addChannel('ig', set)"><i class="fa fa-instagram"></i></span>
        <span class="btn ok socialBg" ng-click="ctr.addChannel('ok', set)">ok</span>
        <span class="btn gp socialBg ng-hide"><i class="fa fa-google-plus"></i></span>
      </div>
    </div>
  </div>

  <div class="usersArea bar" ng-if="!guestAccess && ctr.activeMode === 'users'">
    <div class="channelsList">
      <div class="user" ng-repeat="user in ctr.openedSetUsers" ng-class="ctr.getUserClass(user)">
        <div class="pull-right link toggler" ng-click="ctr.toggleUser(user)">
          <span class="remove">убрать доступ</span>
          <span class="add">восстановить</span>
        </div>

        <div class="pull-right mood" ng-if="user.not_confirmed" tooltip="Пользователь еще не успел зарегистрироваться" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-popup-delay="0">
          <i class="fa fa-frown-o"></i>
        </div>

        <span class="email" ng-bind="user.email"></span>
        <div class="ib" ng-if="user.name">
          (<span ng-bind="user.name"></span>)
        </div>



      </div>
      <div class="noResults" ng-show="!ctr.openedSetUsers.length">Нет ни одного пользователя</div>
    </div>
    <div class="addChannelsLine" ng-if="!guestAccess">

      <div class="smTitle ng-hide">Добавить пользователя</div>

      <form class="addNewUserForm subOnInput" ng-submit="ctr.addNewUser(ctr.newUserEmail)">
        <input class="form-control" type="text" placeholder="E-Mail пользователя" ng-model="ctr.newUserEmail">
        <button class="btn btn-primary">Предоставить доступ</button>
      </form>
    </div>
  </div>
</section>
