<section class="v_accounts">
  <header class="stdHeader">

      <a class="btn socialBg vk" ng-click="ctr.onVkAdding()"><i class="fa fa-vk"></i><span>Добавить аккаунт ВК</span></a>
      <a class="btn socialBg fb" ng-href="{{ctr.facebookAuthUrl}}" ng-disabled="!ctr.facebookAuthUrl"><i class="fa fa-facebook"></i><span>Добавить аккаунт Facebook</span></a>

  </header>


  <div class="setsarea">
    <div class="setslist" ng-show="ctr.accounts.length">
      <div class="account socialBg" data-network="{{account.network}}" ng-repeat="account in ctr.accounts" ng-click="ctr.openSet(account)">
        <div class="title"><span ng-bind="account.screen_name"></span> |
        </div>
      </div>
    </div>
    <div class="noResults" ng-hide="ctr.accounts.length">Пока еще нет ни одного аккаунта</div>
  </div>
</section>
