<section class="v_accounts smallWrap">
  <header class="stdHeader">

    <a class="btn socialBg vk" ng-click="ctr.onVkAdding()"><span>Добавить аккаунт ВК</span></a>
    <a class="btn socialBg fb" ng-href="http://api.smm.dev/accounts/auth/fb/"><span>Добавить аккаунт Facebook</span></a>
    <a class="btn socialBg ok" ng-href="http://api.smm.dev/accounts/auth/ok/"><span>Добавить аккаунт OK</span></a>

  </header>


  <div class="setsarea">
    <div class="setslist" ng-show="ctr.accounts.length">
      <div class="account socialBg" data-network="{{account.network}}" ng-repeat="account in ctr.accounts" ng-click="ctr.openSet(account)">
        <div class="title">
          <span ng-bind="account.screen_name"></span>

          <div class="pull-right">

            <span class="ib" ng-bind="ctr.getExpiresString(account.expires_in)">
            </span>
            <span class="ng-hide link" ng-click="ctr.offAccount(account)">открепить</span>
          </div>

        </div>
      </div>
    </div>
    <div class="noResults" ng-hide="ctr.accounts.length">Пока еще нет ни одного аккаунта</div>
  </div>
</section>
