<section class="v_sets smallWrap">

  <div class="createNewSet">
    <form class="subOnInput" ng-submit="ctr.addNewSet(ctr.newSetName)">
      <input class="form-control" type="text" placeholder="Название нового набора" ng-model="ctr.newSetName">
      <button class="btn btn-primary submit">Создать набор</button>
    </form>
  </div>


  <div class="setsarea">
    <div class="setslist" ng-show="ctr.sets.own.length">
      <div class="set" set="set" ng-repeat="set in ctr.sets.own" ng-class="{'active':ctr.setIsAvtive(set)}">

      </div>
    </div>
  </div>


  <div class="setsarea" ng-if="ctr.sets.guest.length">
    <h2>Гостевой доступ</h2>
    <div class="setslist">
      <div class="set" set="set" guest-access="true" ng-repeat="set in ctr.sets.guest" ng-class="{'active':ctr.setIsAvtive(set)}">

      </div>
    </div>
  </div>
</section>
