Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_URI} ^(.*)\.(css|js)
RewriteRule . - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?page=$1



