<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <span class="h_label">Настройки групп</span>
    <a class="btn btn-primary pull-right" ng-click="ctr.addGroup()">добавить группу</a>
  </div>
  <div class="panel-body">
    <table class="table">
    <thead>
      <th ng-click="ctr.setOrder('name');">Название
        <span ng-show="ctr.paramOrdering === 'product'">
          <i ng-show="ctr.reverseOrdering === true" class="fa fa-sort-desc"></i>
          <i ng-show="ctr.reverseOrdering === false" class="fa fa-sort-asc"></i>
        </span>
      </th>
      <th>
        Действия
      </th>
    </thead>
    <tbody>
      <tr data-ng-repeat="group in ctr.groups | orderBy:ctr.paramOrdering:ctr.reverseOrdering">
        <td>
          <span ng-bind="group.name"></span>
        </td>
        <td>
          <div class="btn-group" dropdown>
            <a type="button" class="btn btn-primary" ui-sref="admin_groups_page({id:group._id})">редактировать</a>
            
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div> 

  <!-- Table -->
  
</div>
