@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500&subset=latin,cyrillic);

@colorPrimary: #009EE0;
@colorPrimaryDark: #4C7198;



/* dark theme */
@backgroundBody: #F2F9FF; /* цвет основного фона */
@backgroundHeader: #323D4F; /* цвет основного фона */
@textColor: #222;
@additionalColor_light: #eee;
@additionalColor_light2: #ddd;
@additionalColor_light3: #f5f5f5;
@additionalColor_dark: #222;

@linkColor: #009EE0; 

 


@import url('common.less');  
@import url('controls.less');  
@import url('directives/selectDate.less');   
@import url('elements/calendar.less');    
 
@import url('views/sets/index.less'); 
@import url('views/accounts/index.less'); 

@import url('views/login.less'); 

@import url('elements/downloadExtension.less');      