body.cabinet {
  font-family: Tahoma, Geneva, sans-serif, arial, verdana;
  background-color: #42424b;
  font-size: 13px;
}
body.cabinet:before {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  content: '';
}
.content {
  position: relative;
  z-index: 2;
  width: 960px;
  margin: 20px auto;
}
.emoji {
  width: 1.4em;
  vertical-align: top;
}
.container {
  width: 960px!important;
  padding: 0;
}
.toppanel {
  height: 70px;
  border-bottom: 1px solid #4F4F4F;
  background-color: #2F3238;
}
.toppanel menu {
  padding: 0;
  margin: 0 0 0 8px;
  position: relative;
  z-index: 5;
  overflow: auto;
}
.toppanel menu a {
  line-height: 66px;
  display: block;
  float: left;
  padding: 0 12px 2px;
  text-decoration: none;
  color: #FFF!important;
  opacity: 0.4;
  transition: 0.3s;
  font-size: 17px;
}
.toppanel menu a:hover {
  opacity: 0.85;
}
.toppanel menu a.active,
.toppanel menu a.active:hover {
  background-color: #4c7198;
}
.panel {
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  border-radius: 2px;
  border: none;
}
.panel .panel-body {
  padding: 30px;
}
.panel.panel-default > .panel-heading {
  padding: 0px 30px;
  position: relative;
  background-color: #F7F8FA;
  border-bottom: 1px solid #EEF0F3;
}
.panel.panel-default > .panel-heading .btn.pull-right {
  margin: 18px 0 0;
}
.panel.panel-default > .panel-heading .h_label {
  line-height: 64px;
  font-size: 1.46em;
  color: #2B2F33;
  font-weight: normal;
}
.panel.panel-default > .panel-heading .h_menu {
  margin: 18px 0 0;
}
.panel.panel-left {
  float: left;
  width: 288px;
}
.panel.panel-right {
  float: left;
  width: 612px;
  margin-left: 30px;
}
.bg {
  border: 1px solid;
  padding: 15px;
}
.bg .title {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: bold;
}
.bg.bg-warning {
  border-color: #D4BC4C;
}
.bg.bg-danger {
  border-color: #B24646;
}
.ntm {
  margin-top: 0px!important;
}
.ntp {
  padding-top: 0px!important;
}
.btn {
  transition: 0.2s;
  padding: 0px 15px;
  border-radius: 0px;
  border: none;
  outline: none;
  line-height: 34px;
  position: relative;
  top: -1px;
  font-size: 13px;
}
.btn.btn-primary {
  background-color: #009ee0;
}
.btn.btn-primary:hover {
  -webkit-filter: contrast(1.5);
}
.btn:focus,
.btn:active {
  border: none!important;
  outline: none!important;
}
.btn.btn-trans {
  background-color: transparent;
  height: 31px;
}
.btn.btn-trans:hover {
  background-color: #E6E8EC;
}
.form-control {
  font-size: 15px;
  background: #2D2E34;
  border: 1px solid #202125;
  border-radius: 0px;
  padding: 0px 15px;
  color: #eee;
  line-height: 34px;
}
.form-control::-webkit-input-placeholder {
  color: #555;
}
.form-control:focus {
  border-color: #009ee0;
  box-shadow: none;
}
.stdHeader {
  height: 70px;
}
.stdHeader h1 {
  color: #aaa;
  font-size: 28px;
  margin: 30px 0 0 20px;
}
.modal {
  color: #aaa;
}
.modal-content {
  background-color: #222;
}
.modal-header {
  border-bottom: 1px solid #2D2D2D;
}
.modal-footer {
  border-top: 1px solid #2D2D2D;
}
.date-selector {
  width: 100%;
}
.date-selector .inputs {
  position: relative;
  width: 168px;
  margin: -3px 0 0 3px;
  border: 1px solid #E0E0E0;
  height: 30px;
}
.date-selector .inputs input {
  border: none;
  outline: 0;
  float: left;
  height: 100%;
  line-height: 19px;
  background: 0 0;
  color: #000;
  text-align: center;
}
.date-selector .inputs:after,
.date-selector .inputs:before {
  position: absolute;
  content: '';
  top: 7px;
  height: 13px;
  width: 1px;
  background: #ccc;
}
.date-selector .inputs:after {
  left: 85px;
}
.date-selector .inputs:before {
  left: 42px;
}
.date-selector .inputs .day,
.date-selector .inputs .month {
  width: 43px;
}
.date-selector .inputs .year {
  width: 80px;
}
.date-selector .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.calendar {
  outline: none!important;
}
.calendar .btn.btn-default {
  padding: 0px 3px;
  font-size: 14px;
  outline: none;
  border: none;
  line-height: 16px;
  color: #000;
}
.calendar .btn-default[disabled] {
  background: #f9f9f9;
  cursor: default!important;
  color: #ccc!important;
}
.calendar .text-info {
  color: #3A65BE;
  font-weight: bold;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  outline: none!important;
}
.calendar table tr:first-child th {
  background-color: #e7e7e7;
  overflow: hidden;
  font-size: 16px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  padding: 0;
  min-width: 34px;
  border: none;
}
.calendar table tr:first-child th:nth-child(1),
.calendar table tr:first-child th:nth-child(3) {
  width: 34px;
}
.calendar table tr:first-child th:nth-child(2) {
  width: 184px;
}
.calendar table tr:first-child th:nth-child(2) .btn {
  font-size: 14px;
  background: #e7e7e7!important;
  cursor: default!important;
}
.calendar table tr:first-child th:nth-child(1) i:before {
  content: "\f104" !important;
}
.calendar table tr:first-child th:nth-child(3) i:before {
  content: "\f105" !important;
}
.calendar table tr:first-child th .btn:hover {
  background-color: #eee;
}
.calendar table tr:first-child th .btn:active {
  background-color: #ddd;
}
.calendar table tr:first-child th:nth-child(2) .btn strong {
  font-weight: normal;
}
.calendar table tr:first-child th .btn {
  height: 100%;
  padding: 0;
  width: 100%;
}
.calendar table tr:first-child th .btn i {
  padding: 0 10px;
  font-family: FontAwesome!important;
  font-size: 32px;
  color: #707070;
}
.calendar table tr:last-child th {
  background-color: #fff;
  color: #575757;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}
.calendar table td {
  border: 1px solid #E3E3E3;
  background-color: #FFF;
  text-align: center;
  height: 32px;
  width: 32px;
  font-size: 14px;
  padding: 0;
}
.calendar table td .btn {
  height: 100%;
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.calendar .text-muted {
  color: #ddd;
}
.calendar button.btn.btn-default.btn-sm.btn-info.active {
  box-shadow: inset 0px 0px 0px 2px #009ee0;
  color: #000;
}
.calendar .btn.btn-default:focus {
  background: transparent;
}
.v_sets .createNewSet form {
  white-space: nowrap;
  margin-bottom: 20px;
}
.v_sets .createNewSet input {
  display: inline-block;
  width: 250px;
}
.v_sets .section {
  margin-top: -10px;
  padding: 0 20px;
}
.v_sets .section h2 {
  font-size: 18px;
  color: #777070;
  margin: 0 0 15px;
}
.v_sets .set {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  margin-bottom: -1px;
  transition: 0.2s;
  color: #ddd;
  opacity: 0.4;
}
.v_sets .set > .title {
  padding: 35px 20px;
  font-size: 22px;
}
.v_sets .set > .title .plural {
  color: #999;
  font-size: 14px;
  display: inline-block;
  margin-left: 4px;
}
.v_sets .set:hover {
  opacity: 1;
  cursor: pointer;
}
.v_sets .set.active {
  opacity: 1;
  cursor: default!important;
}
.v_sets .set .addChannelsLine {
  font-size: 14px;
  margin: 20px 0 35px;
}
.v_sets .set .addChannelsLine span.btn {
  font-size: 16px;
  display: inline-block;
  width: 49px;
  text-align: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  color: #FFF;
  opacity: 0.9;
  padding: 0;
  line-height: 35px;
}
.v_sets .set .addChannelsLine span.btn:hover {
  opacity: 1;
  background-color: #ddd;
  color: #000;
}
.v_sets .channelsList {
  padding: 0;
  margin: 0px;
}
.v_sets .channel {
  display: block;
  padding: 8px 15px;
  margin: 3px 0;
  font-size: 14px;
}
.v_sets .channel.disabled {
  opacity: 0.4;
  box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.8);
}
.v_sets .bar {
  width: 40%;
  float: left;
  margin-right: 10%;
}
.v_sets .smTitle {
  display: block;
  color: #777070;
  margin-bottom: 10px;
  font-size: 11px;
}
.v_sets .addNewUserForm {
  white-space: nowrap;
}
.v_sets .addNewUserForm input {
  width: 250px;
  display: inline-block;
}
.v_sets .usersArea {
  width: 45%;
  margin: 0;
}
.v_sets .usersArea .user {
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
  margin-bottom: -1px;
  padding: 7px 0;
}
.v_sets .usersArea .user.notConfirmed {
  opacity: 0.8;
  color: #fbb;
}
.v_sets .usersArea .user .removeUser {
  opacity: 0.3;
  transition: 0.2s;
}
.v_sets .usersArea .user .removeUser:hover {
  opacity: 1;
  cursor: pointer;
}
.v_sets .usersArea .user .removeUser span {
  font-size: 10px;
  position: relative;
  top: -1px;
}
.v_sets .usersArea .user .mood {
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.v_sets .noResults {
  margin-bottom: 35px;
}
.v_sets .btnMinus .btn {
  top: -2px;
}
.downloadExtension {
  position: fixed;
  z-index: 10000;
  background-color: #f1f1f1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.downloadExtension.active {
  opacity: 1;
  visibility: visible;
}
