@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500&subset=latin,cyrillic);
/* dark theme */
/*#ECF0F1;*/
/* цвет основного фона */
/* цвет основного фона */
body.cabinet {
  background-color: #ffffff;
  font-size: 13px;
  color: #222222;
  font-family: 'Ubuntu', Verdana;
  font-weight: 300;
  line-height: 1.5em;
}
body.cabinet .view {
  background: #FFF;
  border-radius: 3px;
  padding: 90px 30px 30px;
}
body.cabinet .view.pushedFromLeft {
  margin-left: 250px;
}
.preloader {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #F9F9F9;
}
.preloader i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  margin: -18px 0 0 -20px;
}
.preloader.ng-enter,
.preloader.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.preloader.ng-enter,
.preloader.ng-leave.ng-leave-active {
  opacity: 0;
}
.preloader.ng-leave,
.preloader.ng-enter.ng-enter-active {
  opacity: 1;
}
.smallWrap {
  width: 500px;
  margin: auto;
}
.content {
  margin: 20px auto;
}
.emoji {
  width: 1.4em;
  vertical-align: top;
}
.container {
  padding: 0px;
  width: 100%;
}
.toppanel {
  height: 60px;
  border-bottom: 1px solid #4F4F4F;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #2c3e50;
  z-index: 2;
}
.toppanel .container {
  width: 100%!important;
  padding: 0 50px;
}
.toppanel menu {
  padding: 0;
  margin: 0 0 0 -12px;
  position: relative;
  z-index: 5;
  overflow: auto;
}
.toppanel menu a {
  line-height: 58px;
  display: inline-block;
  float: left;
  padding: 0 12px 2px;
  text-decoration: none;
  color: #FFF;
  opacity: 0.6;
  transition: opacity 0.3s;
  font-size: 13px;
}
.toppanel menu a:hover {
  opacity: 0.85;
}
.toppanel menu a.active,
.toppanel menu a.active:hover {
  background-color: #1F3349;
  opacity: 1;
}
.toppanel .userInfo {
  color: #FFF;
  margin-top: 18px;
}
.toppanel .userInfo > div {
  display: inline-block;
}
.toppanel .userInfo .sep {
  margin: 0 8px;
  font-size: 13px;
  color: #666;
}
.toppanel .userInfo .sep:after {
  content: '|';
}
.toppanel .userInfo .name {
  font-size: 12px;
}
.toppanel .userInfo .quit {
  opacity: 0.4;
  transition: 0.2s;
}
.toppanel .userInfo .quit span {
  font-size: 12px;
}
.toppanel .userInfo .quit i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-left: 6px;
}
.toppanel .userInfo .quit:hover {
  opacity: 1;
  cursor: pointer;
}
.panel {
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  border-radius: 2px;
  border: none;
}
.panel .panel-body {
  padding: 30px;
}
.panel.panel-default > .panel-heading {
  padding: 0px 30px;
  position: relative;
  background-color: #F7F8FA;
  border-bottom: 1px solid #EEF0F3;
}
.panel.panel-default > .panel-heading .btn.pull-right {
  margin: 18px 0 0;
}
.panel.panel-default > .panel-heading .h_label {
  line-height: 64px;
  font-size: 1.46em;
  color: #2B2F33;
  font-weight: normal;
}
.panel.panel-default > .panel-heading .h_menu {
  margin: 18px 0 0;
}
.panel.panel-left {
  float: left;
  width: 288px;
}
.panel.panel-right {
  float: left;
  width: 612px;
  margin-left: 30px;
}
.bg {
  border: 1px solid;
  padding: 15px;
}
.bg .title {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: bold;
}
.bg.bg-warning {
  border-color: #D4BC4C;
}
.bg.bg-danger {
  border-color: #B24646;
}
.ntm {
  margin-top: 0px!important;
}
.ntp {
  padding-top: 0px!important;
}
h1,
h2,
h3 {
  color: #2c3e50;
}
h1,
h2,
h3,
strong,
b,
.strong {
  font-weight: 500;
}
.viewNavigation {
  border-right: 1px solid #E5E5E5;
  padding: 0;
  position: fixed;
  background: #fcfcfc;
  top: 60px;
  bottom: 0px;
  padding-bottom: 87px;
  width: 250px;
}
.viewNavigation a {
  display: block;
  font-size: 13px;
  color: #323D4F;
  line-height: 50px;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: -1px;
  padding: 0 25px 0 50px;
  margin-right: 0px;
  text-decoration: none!important;
  color: #AAA;
  position: relative;
  transition: 0.2s;
}
.viewNavigation a:after {
  position: absolute;
  content: '';
  background: #21A1FF;
  right: -1px;
  width: 0px;
  top: -1px;
  bottom: -1px;
  z-index: 2;
}
.viewNavigation a:hover {
  color: #666;
  background-color: #f7f7f7;
}
.viewNavigation a.active,
.viewNavigation a.active:hover {
  color: #2c3e50;
  background-color: #f5f5f5;
}
.viewNavigation a.active:after,
.viewNavigation a.active:hover:after {
  width: 4px;
}
.socialBg {
  color: #eee;
}
.socialBg.vk,
.socialBg[data-network="vk"] {
  background-color: #43668a;
}
.socialBg.ok,
.socialBg[data-network="ok"] {
  background-color: #f2952a;
}
.socialBg.gp,
.socialBg[data-network="gp"] {
  background-color: #bc3418;
}
.socialBg.fb,
.socialBg[data-network="fb"] {
  background-color: #3b5998;
}
.socialBg.tw,
.socialBg[data-network="tw"] {
  background-color: #1daced;
}
.socialBg.ig,
.socialBg[data-network="ig"] {
  background-color: #8b5c34;
}
.ib {
  display: inline-block;
}
.btn {
  transition: 0.2s;
  padding: 0px 15px;
  border-radius: 0px;
  border: none;
  outline: none;
  line-height: 34px;
  position: relative;
  top: -1px;
  font-size: 13px;
  font-weight: 300;
}
.btn.btn-primary {
  background-color: #3498db;
}
.btn.btn-primary:hover {
  -webkit-filter: contrast(1.5);
}
.btn:focus,
.btn:active {
  border: none!important;
  outline: none!important;
}
.btn.btn-trans {
  background-color: transparent;
  height: 31px;
}
.btn.btn-trans:hover {
  background-color: #E6E8EC;
}
.form-control {
  font-size: 13px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 0px 15px;
  color: #222222;
  line-height: 34px;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #aaa;
}
.form-control:focus {
  border-color: #3498db;
  box-shadow: none;
}
.stdHeader {
  overflow: auto;
  margin-bottom: 30px;
  padding: 0px;
}
.stdHeader h1 {
  font-size: 18px;
  margin: 0px 0 0 0px;
  float: left;
}
a.link,
span.link,
div.link {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #009ee0;
  transition: 0.3s;
}
a.link:hover,
span.link:hover,
div.link:hover {
  border-bottom-color: transparent;
  cursor: pointer;
  text-decoration: none;
}
a.link.inverse,
span.link.inverse,
div.link.inverse {
  border-bottom-color: transparent;
}
a.link.inverse:hover,
span.link.inverse:hover,
div.link.inverse:hover {
  border-bottom-color: #009ee0;
}
.subOnInput {
  position: relative;
}
.subOnInput input {
  display: block;
  width: 100%;
  height: 46px;
  font-size: 16px;
  padding: 0 20px;
}
.subOnInput .btn {
  position: absolute;
  right: 0;
  height: 46px;
  color: #3498DB;
  padding: 0 20px;
  font-size: 16px;
  line-height: 49px;
  background-color: rgba(202, 233, 255, 0.17);
}
.subOnInput .btn:hover {
  background-color: rgba(202, 233, 255, 0.57);
  color: #444;
  -webkit-filter: contrast(1);
}
.notifyPanel {
  padding-right: 40px;
  position: relative;
  display: none;
  line-height: 1.5em;
}
.notifyPanel .closer {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 16px;
  opacity: 0.3;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: 0.2s;
}
.notifyPanel .closer:hover {
  opacity: 1;
  cursor: pointer;
}
.notifyPanel.inView {
  background-color: #B0E4FF;
  margin: -50px -30px 0;
  padding: 30px 40px 30px 30px;
  font-size: 15px;
}
.notifyPanel.inViewMenu {
  background-color: #B0E4FF;
  margin: -50px 0px 30px;
  padding: 30px 40px 30px 30px;
  font-size: 15px;
}
.widthPanel {
  margin: auto;
}
.widthPanel.std {
  width: 800px;
}
.date-selector {
  width: 100%;
}
.date-selector .inputs {
  position: relative;
  width: 168px;
  margin: -3px 0 0 3px;
  border: 1px solid #E0E0E0;
  height: 30px;
}
.date-selector .inputs input {
  border: none;
  outline: 0;
  float: left;
  height: 100%;
  line-height: 19px;
  background: 0 0;
  color: #000;
  text-align: center;
}
.date-selector .inputs:after,
.date-selector .inputs:before {
  position: absolute;
  content: '';
  top: 7px;
  height: 13px;
  width: 1px;
  background: #ccc;
}
.date-selector .inputs:after {
  left: 85px;
}
.date-selector .inputs:before {
  left: 42px;
}
.date-selector .inputs .day,
.date-selector .inputs .month {
  width: 43px;
}
.date-selector .inputs .year {
  width: 80px;
}
.date-selector .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.custom_select {
  border: 1px solid #AAA;
  line-height: 25px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.custom_select > section {
  padding: 0px 32px 0 10px;
  position: relative;
  z-index: 3;
  background: #fff;
}
.custom_select menu {
  position: absolute;
  top: 0%;
  background: #fff;
  left: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0px 2px 8px #ccc;
  margin: 4px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  max-height: 211px;
  overflow: auto;
  min-width: 100%;
}
.custom_select.opened menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.custom_select menu .option {
  padding: 0px 10px;
  margin-top: -1px;
  line-height: 27px;
  white-space: nowrap;
  background: transparent;
  border: none;
  outline: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
  color: #555;
  transition: 0.3s;
}
.custom_select menu .option.active {
  color: #009ee0;
}
.custom_select menu .option.active:hover {
  color: #014d6d;
}
.custom_select menu .option[disabled],
.custom_select menu .option[disabled]:hover {
  color: #ccc;
  background: #f9f9f9 url(../images/stripe.png) center repeat;
  border-color: #eee;
  cursor: default;
}
.custom_select menu .option:hover {
  z-index: 2;
  border-color: #ccc;
  color: #000;
  cursor: pointer;
}
.custom_select > section:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 6px;
  top: 1px;
  font-size: 22px;
  color: #999;
  transition: 0.4s;
}
.custom_select.opened {
  color: #333;
}
.custom_select.opened > section:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #333;
}
.calendar {
  outline: none!important;
}
.calendar .btn.btn-default {
  padding: 0px 3px;
  font-size: 14px;
  outline: none;
  border: none;
  line-height: 16px;
  color: #000;
}
.calendar .btn-default[disabled] {
  background: #f9f9f9;
  cursor: default!important;
  color: #ccc!important;
}
.calendar .text-info {
  color: #3A65BE;
  font-weight: bold;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  outline: none!important;
}
.calendar table tr:first-child th {
  background-color: #e7e7e7;
  overflow: hidden;
  font-size: 16px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  padding: 0;
  min-width: 34px;
  border: none;
}
.calendar table tr:first-child th:nth-child(1),
.calendar table tr:first-child th:nth-child(3) {
  width: 34px;
}
.calendar table tr:first-child th:nth-child(2) {
  width: 184px;
}
.calendar table tr:first-child th:nth-child(2) .btn {
  font-size: 14px;
  background: #e7e7e7!important;
  cursor: default!important;
}
.calendar table tr:first-child th:nth-child(1) i:before {
  content: "\f104" !important;
}
.calendar table tr:first-child th:nth-child(3) i:before {
  content: "\f105" !important;
}
.calendar table tr:first-child th .btn:hover {
  background-color: #eee;
}
.calendar table tr:first-child th .btn:active {
  background-color: #ddd;
}
.calendar table tr:first-child th:nth-child(2) .btn strong {
  font-weight: normal;
}
.calendar table tr:first-child th .btn {
  height: 100%;
  padding: 0;
  width: 100%;
}
.calendar table tr:first-child th .btn i {
  padding: 0 10px;
  font-family: FontAwesome!important;
  font-size: 32px;
  color: #707070;
}
.calendar table tr:last-child th {
  background-color: #fff;
  color: #575757;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}
.calendar table td {
  border: 1px solid #E3E3E3;
  background-color: #FFF;
  text-align: center;
  height: 32px;
  width: 32px;
  font-size: 14px;
  padding: 0;
}
.calendar table td .btn {
  height: 100%;
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.calendar .text-muted {
  color: #ddd;
}
.calendar button.btn.btn-default.btn-sm.btn-info.active {
  box-shadow: inset 0px 0px 0px 2px #009ee0;
  color: #000;
}
.calendar .btn.btn-default:focus {
  background: transparent;
}
.v_index .warning {
  background: #FFEDB4;
  margin: 0 15px 30px;
  padding: 25px;
  font-size: 15px;
}
.v_index .panelArea {
  width: 550px;
  margin: auto;
}
.v_index .successEmail {
  padding: 20px;
  margin-bottom: 50px;
}
.v_index .panel {
  width: 100%;
  box-shadow: none;
  position: relative;
  margin: 0 15px 30px;
}
.v_index .panel .inner {
  padding: 30px 0;
  position: relative;
  z-index: 1;
  float: left;
  width: 380px;
}
.v_index .panel .inner form {
  margin-top: 25px;
}
.v_index .panel .inner h2 {
  font-size: 16px;
  margin: 0 0 10px;
}
.v_index .panel .inner input.name {
  border: none;
  color: #292977;
  border-bottom: 2px solid #BBCFE5;
  background: rgba(0, 0, 0, 0);
}
.v_index .panel .inner .text {
  margin: 20px 0 25px;
}
.v_index .panel .icon {
  line-height: 10px;
  font-size: 179px;
  z-index: 0;
  right: 100%;
  top: 10px;
  bottom: 0px;
  color: #7E7E7E;
  text-align: left;
  float: left;
  width: 160px;
  text-shadow: 0px 2px 0px #000;
  opacity: 0.2;
}
.v_index .panel .ion-mic-a {
  font-size: 120px;
  margin: 36px 34px 0;
  display: inline-block;
}
.v_index .panel .ion-ios-people {
  font-size: 119px;
  display: inline-block;
  margin: 16px 16px;
}
.v_index .panel i.ion-more {
  font-size: 124px;
  display: inline-block;
  margin: 0 25px;
}
.v_index .panel i.ion-ios-email-outline {
  font-size: 120px;
  display: inline-block;
  margin: 2px 29px;
}
.v_index .panel i.ion-social-chrome {
  font-size: 101px;
  display: inline-block;
  margin: 35px 19px;
}
.v_index .panel .line input {
  width: 243px;
  display: inline-block;
  margin-right: 15px;
}
.v_index .panel .line button {
  width: 100px;
  display: inline-block;
}
.v_index .panel .comp input {
  width: 195px;
  display: inline-block;
  margin-right: 13px;
}
.v_index .panel .comp button {
  width: 99px;
  display: inline-block;
  margin-left: 2px;
}
.v_index .panel .comp .ignore {
  width: 58px;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0);
  opacity: 0.4;
}
.v_sets {
  padding: 0px 0 100px;
  margin: 0 -30px;
}
.v_sets h2 {
  margin: 60px 0px 10px 0px;
  font-size: 20px;
  color: #AAA;
  font-weight: 300;
  width: 500px;
  margin: auto;
}
.v_sets .setsarea {
  margin-bottom: 50px;
}
.v_sets .createNewSet {
  position: fixed;
  bottom: 0px;
  left: 250px;
  right: 0;
  padding: 20px 0;
  background: #FDFDFD;
  z-index: 2;
  border-top: 1px solid #f5f5f5;
}
.v_sets .createNewSet form {
  white-space: nowrap;
  width: 500px;
  margin: auto;
}
.v_sets .section {
  padding: 0 0px;
  width: 500px;
  margin: auto;
}
.v_sets .set {
  /*border-bottom: 1px solid @additionalColor_light3;
    border-top: 1px solid @additionalColor_light3;*/
  margin-bottom: -1px;
  transition: 0.2s;
}
.v_sets .set:nth-child(even) {
  background: #F6FBFF;
}
.v_sets .set > .title {
  padding: 35px 0px;
  font-size: 22px;
  width: 500px;
  margin: auto;
}
.v_sets .set > .title .name {
  padding: 6px;
  transition: 0.2s;
  margin-left: -6px;
  margin-top: -9px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  min-width: 0px;
  width: 100%;
  display: inline-block;
}
.v_sets .set > .title .name:hover {
  background: #FAFAFA;
  box-shadow: 0px 0px 0px 1px #EEE;
}
.v_sets .set > .title .name:focus {
  box-shadow: 0px 0px 0px 1px #3498db;
  background: #fff;
}
.v_sets .set > .title .name.error,
.v_sets .set > .title .name.error:focus,
.v_sets .set > .title .name.error:hover {
  box-shadow: 0px 0px 0px 1px #c44;
}
.v_sets .set > .title .plural {
  font-size: 14px;
  display: block;
  margin-top: 7px;
}
.v_sets .set > .title .plural span.active {
  color: #000;
  border-bottom: none;
  cursor: default;
}
.v_sets .set.active {
  opacity: 1;
  cursor: default!important;
}
.v_sets .set .addChannelsLine {
  font-size: 14px;
  margin: 20px 0 75px;
}
.v_sets .set .addChannelsLine span.btn {
  font-size: 16px;
  display: inline-block;
  width: 49px;
  text-align: center;
  color: #FFF;
  opacity: 0.9;
  padding: 0;
  line-height: 35px;
}
.v_sets .set .addChannelsLine span.btn:hover {
  opacity: 1;
  background-color: #ddd;
  color: #000;
}
.v_sets .channelsList {
  padding: 0;
  margin: 0px;
}
.v_sets .channel {
  display: block;
  padding: 4px 0px;
  margin: 3px 0;
  font-size: 14px;
  position: relative;
}
.v_sets .channel.disabled .name,
.v_sets .channel.disabled .socialBg {
  opacity: 0.3;
}
.v_sets .channel.disabled .add {
  display: block;
}
.v_sets .channel.disabled .remove {
  display: none;
}
.v_sets .channel .socialBg {
  transition: 0.3s;
  width: 20px;
  position: absolute;
  top: 3px;
  left: 0;
  bottom: 0;
  line-height: 21px;
  text-align: center;
  height: 20px;
  font-size: 10px;
}
.v_sets .channel .socialBg[data-network="ok"]:after {
  content: 'ok';
  position: absolute;
  left: 4px;
}
.v_sets .channel .name {
  margin-left: 28px;
}
.v_sets .toggler .add {
  display: none;
}
.v_sets .toggler .add,
.v_sets .toggler .remove {
  cursor: pointer;
}
.v_sets .smTitle {
  display: block;
  opacity: 0.5;
  margin-bottom: 10px;
  font-size: 11px;
}
.v_sets .addNewUserForm {
  white-space: nowrap;
  margin-top: 30px;
}
.v_sets .usersArea {
  margin: 0;
}
.v_sets .usersArea .user {
  margin-bottom: -1px;
  padding: 7px 0;
}
.v_sets .usersArea .user.notConfirmed {
  color: #a55;
}
.v_sets .usersArea .user .email {
  transition: 0.3s;
}
.v_sets .usersArea .user.disabled .email {
  opacity: 0.3;
}
.v_sets .usersArea .user.disabled .add {
  display: block;
}
.v_sets .usersArea .user.disabled .remove {
  display: none;
}
.v_sets .usersArea .user .mood {
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.v_sets .noResults {
  margin-bottom: 35px;
}
.v_sets .btnMinus .btn {
  top: -2px;
}
.v_sets .nosets {
  padding: 0 0px;
}
.v_accounts {
  margin: 0 -30px;
}
.v_accounts .btn {
  color: #fff;
}
.v_accounts .stdHeader {
  padding: 40px 0px 5px;
}
.v_accounts .stdHeader .btn span {
  color: #fff;
}
.v_accounts .account {
  padding: 0px 30px;
  height: 50px;
  line-height: 50px;
}
.v_team {
  margin: 0 -30px;
}
.v_team .section {
  padding: 0 0px;
  width: 500px;
  margin: auto;
}
.v_team .members {
  margin-top: 1px;
}
.v_team .member {
  margin-bottom: -1px;
  transition: 0.2s;
}
.v_team .member:nth-child(even) {
  background: #fbfbfb;
}
.v_team .member > .title {
  padding: 17px 0px;
  height: 52px;
  font-size: 16px;
  width: 500px;
  margin: auto;
}
.v_team .member > .title .plural {
  font-size: 14px;
  display: block;
  margin-top: -1px;
}
.v_team .member > .title .plural span.active {
  color: #000;
  border-bottom: none;
  cursor: default;
}
.v_team .member.active {
  opacity: 1;
  cursor: default!important;
}
.v_team .member .setsArea {
  padding: 10px 0 30px;
}
.v_team .member .set {
  transition: 0.2s;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 5px 0;
  margin-bottom: -1px;
}
.v_team .member .set.disabled .add {
  display: block;
}
.v_team .member .set.disabled .remove {
  display: none;
}
.v_team .toggler .add {
  display: none;
}
.v_team .toggler .add,
.v_team .toggler .remove {
  cursor: pointer;
}
.v_team .addUserForm {
  width: 500px;
  margin: 30px auto;
}
.v_team .addUserForm .select {
  margin: 10px 0;
  width: 100%;
  display: block;
  font-weight: 300;
}
.v_team .select2-container-multi .select2-choices {
  box-shadow: none;
  background-image: none;
  border: 1px solid #EEE;
  color: #222;
  line-height: 34px;
  min-height: 0px;
}
.v_team .select2-container-multi .select2-choices .select2-search-field {
  padding: 0px 15px;
}
.v_team .select2-container-multi .select2-choices .select2-search-field input {
  padding: 0;
  margin: 0;
  line-height: 34px;
  display: inline-block;
}
.v_team .select2-container-multi .select2-choices .select2-search-choice {
  background: #F9F9F9;
  border-radius: 1px;
  border: 1px solid #DDD;
  padding: 7px 24px 7px 10px;
}
.v_team .select2-container-multi .select2-choices .select2-search-choice-close {
  background: none!important;
  font-size: 12px!important;
  left: auto;
  color: #000;
  opacity: 0.2;
  top: 7px;
  right: 4px;
  transition: 0.2s;
  outline: none!important;
}
.v_team .select2-container-multi .select2-choices .select2-search-choice-close:before {
  content: "\f129";
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v_team .select2-container-multi .select2-choices .select2-search-choice-close:hover {
  opacity: 1;
}
.v_team .select2-container-multi .select2-drop.select2-drop-active {
  border-top: 1px solid #5897FB;
  margin-top: -1px;
  box-shadow: none;
  border-radius: 0px;
}
.v_team .select2-container-multi .select2-results {
  padding: 0;
  margin: 0;
}
.v_team .select2-container-multi .select2-results .select2-result-label {
  padding: 6px 10px 7px;
}
.v_analytic_sandbox {
  min-height: 790px;
}
.v_analytic_sandbox .header {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 0 0 13px;
  height: 40px;
  transition: 0.4s;
}
.v_analytic_sandbox .header .pickup_area {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.v_analytic_sandbox .header .full {
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  top: -200px;
}
.v_analytic_sandbox .header .small {
  opacity: 1;
  visibility: visible;
  transition: 0.6s;
  top: 0px;
}
.v_analytic_sandbox .header .switcher {
  position: absolute;
  right: 18px;
  top: 100%;
  border: 1px solid #eee;
  padding: 0 11px;
  border-top: 0;
  height: 23px;
  z-index: 5;
  background: #fff;
  cursor: pointer;
}
.v_analytic_sandbox .header .switcher i {
  font-size: 27px;
  line-height: 20px;
  transition: 0.3s;
}
.v_analytic_sandbox .branch-list {
  overflow: auto;
}
.v_analytic_sandbox .branch-list .type-checkbox label .ring div:before {
  display: block;
}
.v_analytic_sandbox .full .branch-list {
  margin-bottom: -5px;
}
.v_analytic_sandbox .full .branch-list .branch {
  float: left;
  margin-right: 25px;
}
.v_analytic_sandbox .area {
  margin-bottom: 20px;
}
.v_analytic_sandbox .area .param {
  position: relative;
  float: left;
  font-size: 12px;
  padding: 4px 11px 6px;
  margin: 0 5px 5px 0;
  color: #333;
}
.v_analytic_sandbox .area .param .bottomLine {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.v_analytic_sandbox .area .param.disabled {
  opacity: 0.25;
}
.v_analytic_sandbox .area .param.active .bottomLine {
  opacity: 1;
  visibility: visible;
  bottom: -1px;
  height: 6px;
}
.v_analytic_sandbox .area .bottomLine .line {
  height: 100%;
  display: inline-block;
  position: relative;
}
.v_analytic_sandbox .area .bottomLine .line:last-child {
  padding-right: 1px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.v_analytic_sandbox .paramsArea {
  float: left;
  width: 440px;
  padding: 0;
}
.v_analytic_sandbox .paramsArea.col1.active {
  opacity: 1;
  visibility: visible;
  margin-left: 0px;
}
.v_analytic_sandbox .plus.active {
  opacity: 1;
  visibility: visible;
  margin-left: 15px;
}
.v_analytic_sandbox .plus {
  float: left;
  height: 83px;
  background: #ccc;
  width: 1px;
  position: relative;
  margin: 0 50px 0 0px;
}
.v_analytic_sandbox .plus div {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  top: 50%;
  margin-top: -12px;
  margin-left: -11px;
  background: #fff;
  position: absolute;
  text-align: center;
  padding-top: 1px;
}
.v_analytic_sandbox .plus div i {
  font-size: 13px;
  color: #ccc;
}
.v_analytic_sandbox .paramsArea.col1 .bottomLine .line:after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  left: 0;
  top: 0;
  position: absolute;
}
.v_analytic_sandbox .topLegend {
  display: block;
  overflow: auto;
  margin: 20px 0 -10px;
}
.v_analytic_sandbox .topLegend .point {
  float: left;
  margin-right: 20px;
}
.v_analytic_sandbox .topLegend .point .line {
  position: relative;
  height: 7px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.v_analytic_sandbox .topLegend .point .line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
.v_analytic_sandbox .topLegend .point span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 5px;
}
.v_analytic_sandbox .chartField {
  opacity: 1;
  transition: 0.4s;
}
.v_analytic_sandbox .chartField.lowOpacity {
  opacity: 0;
}
.v_analytic_sandbox .chart {
  width: 100%;
  height: 450px;
  margin-top: 40px;
}
.v_analytic_sandbox .full-header {
  margin: 3px 0 7px;
  padding-bottom: 8px;
  position: relative;
}
.v_analytic_sandbox .full-header .date {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 22;
  cursor: pointer;
}
.v_analytic_sandbox .full-header .calicon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 10px;
  position: relative;
  z-index: 22;
  transition: 0.2s;
}
.v_analytic_sandbox .full-header .intervalButton {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 6px;
  line-height: 21px;
  color: #333;
}
.v_analytic_sandbox .intervalArea {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -10px;
  border: 1px solid #ccc;
  transition: 0.5s;
  background: #fff;
  z-index: 60;
  top: -21px;
  padding-top: 0px;
  box-shadow: 0 0 0 2px #36b3e7, 0 6px 12px rgba(0, 0, 0, 0.275);
  border-radius: 2px;
}
.v_analytic_sandbox .intervalArea .calicon {
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin: -1px 20px 0 7px;
  z-index: 30;
  position: relative;
  transition: 0.2s;
}
.v_analytic_sandbox .intervalArea .head {
  padding: 10px 9px;
}
.v_analytic_sandbox .intervalArea .date {
  display: inline-block;
  vertical-align: middle;
  z-index: 30;
  position: relative;
  cursor: pointer;
  font-size: 12px;
}
.v_analytic_sandbox .intervalArea .datePickers {
  padding: 0 5px;
}
.v_analytic_sandbox .intervalArea .calendar {
  width: 232px;
  display: inline-block;
  margin: 5px;
}
.v_analytic_sandbox .fake-bg {
  opacity: 0;
  position: fixed;
  z-index: 59;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.v_analytic_sandbox .intervalArea.active {
  opacity: 1;
  visibility: visible;
}
.v_analytic_sandbox .loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.v_analytic_sandbox .loading span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -24px;
  display: block;
}
.v_analytic_sandbox .small {
  margin-top: -10px;
}
.v_analytic_sandbox .small .col1 .bottomLine .line:after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  left: 0;
  top: 0;
  position: absolute;
}
.v_analytic_sandbox .small .textLabel {
  margin: 0 12px;
  vertical-align: middle;
}
.v_analytic_sandbox .small .date {
  display: inline-block;
  vertical-align: middle;
  z-index: 30;
  position: relative;
  cursor: pointer;
}
.v_analytic_sandbox .small .calicon {
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 20px 0 8px;
  z-index: 30;
  position: relative;
  transition: 0.2s;
}
.v_analytic_sandbox .small .select {
  vertical-align: middle;
  min-width: 160px;
  display: inline-block;
  position: relative;
}
.v_analytic_sandbox .small .custom_select {
  width: 100%;
}
.v_analytic_sandbox .small .bottomLine {
  position: absolute;
  left: 0;
  right: 0;
  height: 0px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  bottom: -1px;
  height: 5px;
}
.v_analytic_sandbox .small .bottomLine .line {
  height: 100%;
  display: inline-block;
  position: relative;
}
.v_analytic_sandbox .branchesMenu .branch-list {
  margin: 0;
}
.v_analytic_sandbox .branchesMenu .branch-list .branch label span {
  white-space: nowrap;
  font-size: 12px;
}
.v_analytic_sandbox .branchesMenu .branch-list .type-checkbox label .ring {
  margin-top: -1px;
}
.v_analytic_sandbox .branchesMenu .branch-list .type-checkbox label .ring div:after {
  background-size: 10px;
}
.v_analytic_sandbox .branchesMenu label {
  width: 100%;
  display: block;
  padding: 0 10px;
  white-space: nowrap;
  margin-bottom: 1px;
}
.v_analytics_filials.fullState .header {
  height: 172px;
}
.v_analytics_filials.fullState .header .switcher i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.v_analytics_filials.fullState .header .full {
  opacity: 1;
  visibility: visible;
  top: -20px;
}
.v_analytics_filials.fullState .header .small {
  opacity: 0;
  visibility: hidden;
  top: -100px;
}
.v_analytics_filials.fullState .topLegend {
  display: none;
}
.v_analytics_filials.fullState .chart {
  height: 350px;
}
.v_analytics_filials.fullState .intervalArea {
  top: 16px;
}
.v_analytics_filials .intervalButton:hover,
.v_analytics_filials .param:hover {
  border: 1px solid #AAA;
}
.v_analytics_filials .area .param.active,
.v_analytics_filials .intervalButton.active {
  box-shadow: none!important;
  outline: none;
  background: #eee;
}
.v_analytics_filials .paramsArea.col1,
.v_analytics_filials .plus {
  opacity: 0;
  transition: 0.7s;
  margin-left: -5px;
  visibility: hidden;
}
body[data-status="loading"] .v_analytics_filials .chartField {
  opacity: 0.2;
}
.v_analytics_filials .branchesMenu .branch-list .type-checkbox label .ring,
.v_analytics_filials .branchesMenu .branch-list .type-checkbox label .ring div {
  width: 12px;
  height: 12px;
}
.calicon:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.v_login {
  background: #ECF0F1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  /* Juro */
}
.v_login a.homelink {
  font-size: 14px;
  position: fixed;
  top: 60px;
  left: 60px;
  color: #000;
}
.v_login form {
  position: absolute;
  top: 50%;
  margin-top: -77px;
  left: 0;
  right: 0;
  transition: 0.4s;
}
.v_login form.error {
  -webkit-animation: bounceMargin 0.5s 1;
}
.v_login .wrapInput {
  display: inline-block;
  margin: 0px 15px 0;
  width: 350px;
  font-size: 22px;
}
.v_login label {
  margin: 0;
}
.v_login .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.v_login .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.v_login .input__field:focus {
  outline: none;
}
.v_login .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.v_login .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.v_login .input--juro {
  overflow: hidden;
}
.v_login .input__field--juro {
  position: absolute;
  z-index: 100;
  padding: 2.15em 0.75em 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: #000;
  font-size: 0.85em;
}
.v_login .input__label--juro {
  padding: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  text-align: left;
}
.v_login .input__label-content--juro {
  padding: 2em 1em;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
  text-rendering: geometricPrecision;
  font-weight: 300;
}
.v_login .input__label--juro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  -webkit-transition: border-width 0.3s, border-color 0.3s;
  transition: border-width 0.3s, border-color 0.3s;
}
.v_login .input__field--juro:focus + .input__label--juro::before,
.v_login .input--filled .input__label--juro::before {
  border-width: 8px;
  border-color: #c3dae4;
  border-top-width: 2em;
}
.v_login .input__field--juro:focus + .input__label--juro .input__label-content--juro,
.v_login .input--filled .input__label--juro .input__label-content--juro {
  color: #626262;
  -webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}
.v_login .introButton {
  padding: 15px 77px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}
@-webkit-keyframes bounceMargin {
  0% {
    transform: translateX(0px);
  }
  8% {
    transform: translateX(-12px);
  }
  16% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  32% {
    transform: translateX(0px);
  }
  41% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(0px);
  }
  58% {
    transform: translateX(6px);
  }
  67% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-4px);
  }
  84% {
    transform: translateX(0px);
  }
  92% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.v_login .forgotPassword {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 120px;
}
.v_login .forgotPassword .area {
  transform: translateY(0px);
  transition: 0.4s;
}
.v_login .forgotPassword form {
  top: 0px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}
.v_login.restoreMode form {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-200px);
}
.v_login.restoreMode .forgotPassword .area {
  transform: translateY(-220px);
}
.v_login.restoreMode .forgotPassword form {
  transform: translate(0px);
  opacity: 1;
  visibility: visible;
}
.v_login .bb {
  transition: 0.4s;
}
.v_login .last {
  transition: 0.3s linear 0.2s;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -200px;
  font-size: 16px;
  line-height: 400px;
  position: absolute;
  text-align: center;
}
.v_login.successRestore .bb {
  opacity: 0;
  visibility: hidden;
}
.v_login.successRestore .last {
  opacity: 1;
  visibility: visible;
}
.downloadExtension {
  position: fixed;
  z-index: 10000;
  background-color: #f1f1f1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.downloadExtension.active {
  opacity: 1;
  visibility: visible;
}
