body {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.strong,
b,
strong,
h1,
h2,
h3 {
  font-weight: 500;
}
.socialBg {
  color: #eee;
}
.socialBg.vk,
.socialBg[data-network="vk"] {
  background-color: #43668a;
}
.socialBg.ok,
.socialBg[data-network="ok"] {
  background-color: #f2952a;
}
.socialBg.gp,
.socialBg[data-network="gp"] {
  background-color: #bc3418;
}
.socialBg.fb,
.socialBg[data-network="fb"] {
  background-color: #3b5998;
}
.socialBg.tw,
.socialBg[data-network="tw"] {
  background-color: #1daced;
}
.socialBg.ig,
.socialBg[data-network="ig"] {
  background-color: #43455f;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.v_index {
  background: #f9f9f9;
}
.v_index header {
  background: #000;
  overflow: hidden;
  position: relative;
  height: 750px;
}
.v_index header .image {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: 100%;
  position: absolute;
}
.v_index header .enterForm {
  margin-top: 127px;
}
.v_index header .inner {
  width: 960px;
  margin: auto;
  color: #ddd;
  position: relative;
  z-index: 4;
  padding-top: 50px;
}
.v_index header .inner h1 {
  font-size: 60px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  font-weight: 300;
  color: #fff;
}
.v_index header .inner h2 {
  font-weight: 300;
  font-size: 35px;
  line-height: 1.4em;
  margin: 70px 0 30px;
}
.v_index header .inner h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4em;
  width: 500px;
}
.v_index header .inner a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-top: 9px;
}
.v_index header .inner a.cabinet {
  margin-top: 39px;
}
.v_index header .triangle path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1;
}
.v_index .section {
  position: relative;
  padding: 40px 0 180px;
}
.v_index .section h2 {
  font-weight: 300;
  text-align: center;
  margin: 0 0 50px;
  font-size: 38px;
}
.v_index .advanSection {
  background: #fff;
}
.v_index .advanSection .triangle path {
  fill: #f9f9f9;
  stroke: #f9f9f9;
}
.v_index .advanSection .advan {
  width: 960px;
  padding: 0;
  margin: auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 30px;
}
.v_index .advanSection .advan li {
  width: 320px;
  height: 180px;
  float: left;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 50px;
  display: block;
}
.v_index .advanSection .advan li .icon {
  font-size: 45px;
  text-align: center;
  color: #467896;
  height: 50px;
  line-height: 60px;
}
.v_index .advanSection .advan li h3 {
  font-weight: 300;
  font-size: 23px;
  margin: 20px 0;
  color: #444;
}
.v_index .advanSection .advan li .text {
  font-size: 14px;
  color: #444;
}
.v_index .advanSection .more {
  text-align: center;
  margin: 30px 0 0;
}
.v_index .advanSection .more a {
  color: #000;
  font-size: 16px;
  display: inline-block;
  margin-top: 9px;
}
.v_index .advanSection .more a.cabinet {
  margin-top: 39px;
}
.v_index .advanSection .bigTriangleColor2 {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}
.v_index .advanSection .bigTriangleColor2 path {
  fill: #222;
  stroke: #222;
  stroke-width: 1;
}
.v_index footer {
  background: #222;
  height: 68px;
  margin: auto;
  position: relative;
}
.v_index footer menu {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  bottom: 30px;
}
.v_index footer menu a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
}
.v_index .enterForm {
  z-index: 4;
  text-align: center;
  position: relative;
  transition: 0.3s;
}
.v_index .enterForm h3 {
  color: #fff;
  font-weight: 300;
  margin: 0 0 25px;
}
.v_index .enterForm input {
  border: none;
  color: #000;
  background: #fff;
  padding: 13px 30px;
  font-size: 22px;
  font-weight: 300;
  width: 100%;
  transition: 0.2s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.v_index .enterForm input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.9);
}
.v_index .enterForm input[type="password"] {
  visibility: hidden;
  display: none;
}
.v_index .enterForm button {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  color: #000;
  font-size: 29px;
  line-height: 59px;
  padding: 0 15px;
  right: 0;
  top: 0;
  outline: none;
  border: none;
  opacity: 0.3;
  transition: 0.3s;
}
.v_index .enterForm button:hover {
  opacity: 1;
}
.v_index .enterForm form {
  position: relative;
  width: 390px;
  margin: auto;
}
.v_index .enterForm.light h3 {
  color: #000;
}
.v_index .enterForm .loader {
  opacity: 0;
  visibility: hidden;
}
.v_index .enterForm .arrow {
  opacity: 1;
  visibility: visible;
}
.v_index .enterForm .loader,
.v_index .enterForm .arrow {
  transition: 0.3s;
  display: inline-block;
}
.v_index .enterForm.entered button {
  -webkit-transform: translateX(20px);
  opacity: 1;
}
.v_index .enterForm.entered input {
  background-color: #ccc;
  color: #555;
}
.v_index .enterForm.entered .arrow {
  opacity: 0;
  visibility: hidden;
}
.v_index .enterForm.entered .loader {
  opacity: 1;
  visibility: visible;
}
.v_index .priceSection {
  background: #f9f9f9;
}
.v_index .priceSection .wr {
  width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #E7F9FF;
  margin-bottom: 40px;
}
.v_index .priceSection table {
  margin: 0;
  border: none;
}
.v_index .priceSection table tbody tr:last-child td {
  padding-bottom: 30px;
}
.v_index .priceSection table td,
.v_index .priceSection table th {
  text-align: center;
  border-color: #ccc;
  border-bottom-width: 1px;
  vertical-align: middle;
  border: none;
  padding: 16px 3px;
}
.v_index .priceSection table td.text-left,
.v_index .priceSection table th.text-left {
  text-align: right;
  padding-right: 20px;
}
.v_index .priceSection table th {
  border-bottom: 1px solid #fff;
  vertical-align: top;
  padding-top: 30px;
}
.v_index .priceSection table tr {
  background: transparent;
}
.v_index .priceSection table tr .standart,
.v_index .priceSection table tr .demo,
.v_index .priceSection table tr .pro {
  background-color: #DAF3FC;
}
.v_index .priceSection table tr .demo {
  border-right: 1px solid #fff;
}
.v_index .priceSection table tr .optimal {
  background-color: #fff;
}
.v_index .priceSection table tr .tool {
  color: #777;
  display: inline-block;
  margin-left: 4px;
}
.v_index .priceSection table h3 {
  font-weight: normal;
  font-size: 17px;
  margin: 5px 0px;
  color: #777;
}
.v_index .priceSection table .desc {
  font-weight: normal;
  font-size: 10px;
  color: #999;
  display: none;
}
.v_index .priceSection table .bigg {
  font-size: 20px;
}
.v_index .priceSection table .price {
  margin-top: 15px;
}
.v_index .priceSection table .price h4 {
  font-weight: normal;
  font-size: 30px;
  margin: 0 0 2px;
}
.v_index .priceSection table .price div {
  color: #999;
  font-weight: normal;
  font-size: 10px;
}
.v_index .priceSection .noborder {
  border: none;
}
.v_index .priceSection .triangle path {
  fill: #f2f2f2;
  stroke: #f2f2f2;
}
.v_index .clientsSection {
  background: #f2f2f2;
}
.v_index .clientsSection .logos {
  padding: 0 0 70px;
}
.v_index .clientsSection .logos img {
  height: 40px;
  margin: 20px;
}
.v_index .clientsSection .triangle path {
  fill: #222;
  stroke: #222;
  stroke-width: 1;
}
.v_index .triangle {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}
.v_index .triangle.header path {
  fill: #f9f9f9;
  stroke: #f9f9f9;
  stroke-width: 1;
}
.v_index .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
