.vk {
  background-color: #43668a;
}
.ok {
  background-color: #f2952a;
}
.gp {
  background-color: #bc3418;
}
.fb {
  background-color: #3b5998;
}
.tw {
  background-color: #1daced;
}
.ig {
  background-color: #43455f;
}
.socialBg {
  color: #eee;
}
