.v_index {
  .warning {
    background: #FFEDB4;
    margin: 0 15px 30px;
    padding: 25px;
    font-size: 15px;
  }
  .panelArea {
    width: 550px;
    margin: auto;
  }
  .successEmail{
  padding:20px;
  margin-bottom:50px;
  }
  .panel {
    width: 100%;
    box-shadow: none;
    position: relative;
    margin: 0 15px 30px;
    .inner {
      padding: 30px 0;
      position: relative;
      z-index: 1;
      float: left;
      width: 380px;
      form {
        margin-top: 25px;
      }
      h2 {
        font-size: 16px;
        margin: 0 0 10px;
      }
      input {
        &.name {
          border: none;
          color: #292977;
          border-bottom: 2px solid #BBCFE5;
          background: rgba(0, 0, 0, 0);
        }
      }
      .text {
        margin: 20px 0 25px;
      }
    }
    .icon {
      line-height: 10px;
      font-size: 179px;
      z-index: 0;
      right: 100%;
      top: 10px;
      bottom: 0px;
      color: #7E7E7E;
      text-align: left;
      float: left;
      width: 160px;
      text-shadow: 0px 2px 0px #000;
      opacity: 0.2;
    }
    .ion-mic-a {
      font-size: 120px;
      margin: 36px 34px 0;
      display: inline-block;
    }
    .ion-ios-people {
      font-size: 119px;
      display: inline-block;
      margin: 16px 16px;
    }
    i.ion-more {
      font-size: 124px;
      display: inline-block;
      margin: 0 25px;
    }
    i.ion-ios-email-outline {
      font-size: 120px;
      display: inline-block;
      margin: 2px 29px;
    }
    i.ion-social-chrome {
      font-size: 101px;
      display: inline-block;
      margin: 35px 19px;
    }
    .line {
      input {
        width: 243px;
        display: inline-block;
        margin-right: 15px;
      }
      button {
        width: 100px;
        display: inline-block;
      }
    }
    .comp {
      input {
        width: 195px;
        display: inline-block;
        margin-right: 13px;
      }
      button {
        width: 99px;
        display: inline-block;
        margin-left: 2px;
      }
      .ignore {
        width: 58px;
        padding: 0 5px;
        background: rgba(0, 0, 0, 0);
        opacity: 0.4;
      }
    }
  }
}
